################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenGL_Project_1/OpenGL_Project_1/OpenGL_Project_1.vcxproj
/OpenGL_Project_1/OpenGL_Project_1/OpenGL_Project_1.vcxproj.filters
/OpenGL_Project_1/OpenGL_Project_1.VC.db
/OpenGL_Project_1/OpenGL_Project_1.VC.VC.opendb
/OpenGL_Project_1/OpenGL_Project_1.sln
/ConsoleApplication1/ConsoleApplication1/x64/Debug
/OpenGL_Project_1/Dependencies/tinyobjloader/
